<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .title {
            color: #091e3f;
            margin: 2rem 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="title">Bem vindo ao LinksManager</h1>
        <p>Olá, <strong>{{name}}</strong></h1>
        <p>Me chamo Felipe e sou o fundador da LinksManager.</p>
        <p>Estou muito feliz em lhe dar as boas vindas e lhe ajudar a gerenciar os seus links na nossa plataforma.</p>
        <p>Se você tiver alguma dúvida, entre em contato conosco! Minha equipe e eu estamos sempre prontos para
            ajudá-lo.</p>
        <p>Abraço.</p>
    </div>
</body>

</html>