<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .text-center {
            text-align: center;
        }

        .button {
            padding: 0.75rem 1.5rem;
            margin: 1rem 0;
            display: inline-block;
            text-align: center;
            background-color: #333333;
            color: #fff;
            border-radius: 0.5rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>Olá, <strong>{{name}}</strong></h1>
        <p>
            <strong>Recebemos uma solicitação para recuperar a sua senha.</strong>
        </p>
        <p>Caso tenha sido você, basta clicar no botão abaixo e seguir os passos.</p>

        <div class="text-center">
            <a class="button" href="{{url}}" target="_blank">Recuperar minha senha</a>
        </div>

        <p>Caso não tenha sido você, não se preocupe. Basta excluir esse e-mail.</p>
        <p>Se você tiver alguma dúvida, entre em contato conosco! Minha equipe e eu estamos sempre prontos para
            ajudá-lo.</p>
        <p>Abraço.</p>
    </div>
</body>

</html>